<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
    </head>
    <body>

        <h1>BAZZR</h1>

        <div>
            <div>
                <h2>
                  What is this place?
                </h2>
            </div>
            <div>
                <p>
                    This site enables people to buy and sell fake goods on the internet!
                  </p>
            </div>
        </div>

        <div>
            <div>
                <h2>Can anyone buy and sell?</h2>
            </div>
            <div>
                <p>  Yes! People can buy and sell all the fake things they want!</p>
            </div>
        </div>

        <div>
            <div>
                <h2>How can I buy things?</h2>
            </div>
            <div>
                <p>    Its dead simple. Just give us your credit card number, browse around
    for a while, click on the nice ads, and when you are finished clicking
    just close the site. It's that simple!</p>
            </div>
        </div>

        <div>
            <div>
                <h2>How do you guys make money?</h2>
            </div>
            <div>
                <p>    You're probably using ad blocker, so we dont! Isn't that awesome?</p>
            </div>
        </div>

        <div>
            <div>
                <h2>That sounds awesome! Where do I sign up?</h2>
            </div>
            <div>
                <p>    Right this way m'buddy.  </p>
            </div>
        </div>


    </body>
</html>
